<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    <link rel="stylesheet" href="~/Content/Styles/ImageUpload.css" />
    <link rel="stylesheet" href="~/Content/Styles/Bootstrap4.3.1.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />




</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Imgae Uploader</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="@Url.Action("AddImagesForm", "AddImages")">Add Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index" , "GetFolderImages")">Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index" , "AddUser")">User</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Logout" , "Logout")">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Content/js/ImageUploader.js"></script>
    <script src="~/Content/js/CloseImage.js"></script>
    <script src="~/Content/js/AddImages.js"></script>
    <script src="~/Content/js/FolderImageUploader.js"></script>
    <script src="~/Content/js/RemovePicture.js"></script>
    <script src="~/Content/js/AddImagesFromFolder.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
